
/* config portal background base */
.grey-background {
    background-color: #B9C1C8;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* styles for the blue portion of the portal*/
.blue-container {
    background-color:#55BDE5;
    height: 92vh;
    width: 88vw; 
    border-radius: 16px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}

.blue-grid{
    width:100%;
    display:grid;
    grid-template-columns: 120px auto 100px;
    grid-template-rows:100px
}

.progress-bar-container{
    grid-column: 2/3;
    margin-top:20;
}

.cancel-button-container{
    grid-column: 3;
    display:flex;
    width:100%;
    justify-content:center;
}

.cancel-button-positioning{
    position:relative;
    align-self: flex-start;
    margin-top:32;
    margin-right:32;
}

/* styles for the white portion of the portal*/
.semi-circle {
    height: 75%;
    width: 100%;
    border-radius: 50%/100px 100px 0 0;
    background: #FFFFFF;
    margin-top: 108px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.white-grid {
    width:998px;
    height: 400px;
    display:grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: auto 40px;
}

.main-input-container {
    grid-row: 1;
    grid-column: 1 / span 3;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*
text styles
*/

.question-text {
    font-size:28px;
    font-weight:medium;
    color: #146887;
}

.small-text {
    font-size:16px;
    font-weight: lighter;
    color: #146887;
}

/*styles for setting task*/
.set-task-name-container {
    margin-bottom: 60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
}

.task-name-input-field{
    width:624px;
    height:66px;
    border-radius: 16px;
    border: 1px solid #55BDE5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px;
    padding-left:20px;
    padding-right:20px;
}

/* styles for setting time and location*/
.set-time-and-location-container{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.set-time-and-location-input-fields{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.input-field-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.set-time-and-location-input-field {
    width:auto;
    height:48px;
    padding:12px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8px;
}

/* styles for setting picture */
.set-picture-container {
    margin-bottom: 60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:24px;
}

.picture-box{
    width:440px;
    height:200px;
    border-radius:16px;
    border: 1px solid #55BDE5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display:flex;
    justify-content: center;
    align-items: center;
}

/* styles for configuring lights and sound */
.config-screen-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.config-containers-wrapper{
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.config-container{
    width:388px;
    height:auto;
    border-radius: 8px;
    border:1px solid #D9D9D9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pick-light-options-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pick-light-color-container{
    width:auto;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:16px;
}

.light-color-header{
    display:flex;
    align-items: center;
    gap: 16px;
}

.color-display-container{
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #1B88B7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-display{
    width:90%;
    height:90%;
    border-radius:5px;
}

.pick-percentage-container{
    width:auto;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top:20px;
}

.pick-audio-container{
    width:auto;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 8px;
}

/*
Styles for setting other options
*/
.task-incomplete-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.task-incomplete-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.time-amount-input-field{
    height:48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

}

.time-unit-input-field{
    width:auto;
    height:48px;
    padding:12px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8px;
}




/* back button, next button and icon styles */
.back-button{
    grid-row: 2;
    grid-column: 1;
    border-radius: 4px;
    border: 1px solid #146887;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.next-button{
    grid-row: 2;
    grid-column: 3;
    border-radius: 4px;
    border: 1px solid #146887;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.button-text{
    font-size: 16;
    font-weight: medium;
    color: #146887;
}

.icon{
    width:20px;
    height:20px;
    margin-bottom:2px;
    color:#146887;
}