/*
text styles
*/
.reminder-portal-header{
    padding-top: 56px;
}

h1{
    font-size: 28px;
    color: white;
    font-weight: bold;
}

p{
    font-size: 18px;
    color:white;
    font-weight: lighter;
}

.reminder-portal-button-text{
    font-size:16px;
    color: #146887;
    font-weight: 500;
}


.list-items {
height: 4.75rem;
margin-bottom: 1.25rem;
line-height: 1.5;
font-weight: 600;
font-size: 18px;
color: white;
letter-spacing: 0.2px;
background-color: #55BDE5;
border-bottom-color: white;
border-radius: 0.375rem;
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 2rem;
padding-right: 2rem;
border: 1.5px solid white
}

.list-items:hover {
background-color: white;
border-color: white;
color: #55BDE5;
}

.list-items-done {
height: 4.75rem;
margin-bottom: 1.25rem;
line-height: 1.5;
font-weight: 700;
font-size: 18px;
color: white;
letter-spacing: 0.2px;
background-color: #97B2F1;
border-bottom-color: white;
border-radius: 0.375rem;
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 2rem;
padding-right: 2rem;
border: 1.5px solid white
}

.list-items-done:hover {
background-color: white;
color: #93C5FD;
border-color: white;
}

.list-layout {
height: 100vh;
padding-left: 2.5rem;
padding-right: 2.5rem;
width: 100%;
color: rgb(17, 24, 39);
background-color: #55BDE5;
border-color: rgb(229, 231, 235);
overflow: auto;
}

.config-btn {
font-size:16px;
color: #146887;
font-weight: 500;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left:1rem;
padding-right:1rem;
margin-top: 2.5rem;
margin-bottom: 2.5rem;
background-color: white;
border-radius: 8px;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
