@tailwind base;
@tailwind components;
@tailwind utilities;

.border-white {
    border-color: white;
}

.bg-white {
    background-color: white;
}

.text-white {
    color: white;
}

.text-gray-900 {
    color: rgb(17 24 39);
}

.border-gray-200 {
    border-color: rgb(229 231 235);
}

@layer components {
    .list-items {
        @apply btn h-20 mb-5 text-base lg:text-2xl relative flex justify-start px-10 bg-light-blue border-b border-white rounded-lg font-bold leading-none tracking-tight text-white break-all;
    }

    .list-items:hover {
        @apply bg-white border-white text-light-blue;
    }

    .list-items-done {
        @apply btn h-20 mb-5 text-base lg:text-2xl relative flex justify-start px-10 border-b border-white rounded-lg font-bold leading-none tracking-tight text-white bg-sky-blue;
    }

    .list-items-done:hover {
        @apply bg-white text-sky-blue border-white;
    }

    .list-layout {
        @apply h-screen px-10 w-full text-gray-900 bg-light-blue border-gray-200 text-white overflow-auto;
    }

    .config-btn {
        @apply btn my-10 bg-white text-light-blue border-white shadow-lg;
    }

    .config-btn:hover {
        @apply bg-light-blue text-white border-white
    }
}